<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/style.css">

<html>
   
    <body>
        <section class="box">
            <h1 class="title">Face Recognition</h1>
        
            <section class="insert-form">
                <form action="/getFaces" method="post" enctype="multipart/form-data">
                    Image or video: 
                    <input id="Image" type="file" name="Image"/>
                    <br><br>
                    
                    <input class="submit-btn" type="submit" value="Submit">
                </form>
            </section>
        </section>  
        
    </body>
</html>